<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>LiGen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="container-fluid">
      <h1>LiGen</h1>
      <form action='/license' method='get'>
        <label for='project_name' class="label">Project Name:</label>
        <input type='text' name='project_name' class="text"/>
        <br/>

        <label for='author_name' class="label">Author Name:</label>
        <input type='text' name='author_name' class="text"/>
        <br/>

        <label for='author_email' class="label">Author Email:</label>
        <input type='text' name='author_email' class="text"/>
        <br/>

        <label for='license' class="label">License:</label>
        <select name='license' class="text">
          {% for license in licenses %}
            <option name='license'>{{ license.name }}</option>
          {% endfor %}
        </select>
        <br/>

        <input type='submit' value='Create License'/>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
